<?xml version="1.0" encoding="utf-8"?>
<!--
  Place rules in this file that apply to ONLY the test projects.
-->
<RuleSet Name="FHIR Analysis Rules for Test" Description="The code analysis rules used for the FHIR server C# test projects." ToolsVersion="14.0">
  <Include Path="./CustomAnalysisRules.ruleset" Action="Default" />
</RuleSet>
